* text=auto
*.sh text eol=lf
*.zsh text eol=lf
*.tmpl text eol=lf
dot_config/zsh/dot_* text eol=lf
dot_local/bin/executable_* text eol=lf
*.ps1 text eol=crlf
*.json text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
versions.env text eol=lf
